body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ff5733;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.menu-section {
    margin: 50px;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu-item img {
    width: 25%;
    height: 25%;
    object-fit: cover;
}

h2 {
    color: #333;
}

.price {
    font-weight: bold;
    color: #ff5733;
}

.price{
.table {
    table-layout: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

@media (min-width: 600px) {
    .menu-item {
        display: flex;
        align-items: center;
    }

    .menu-item img {
        width: 30%;
    }
}
